.container{
    width: 100%;
    position: relative;
    overflow: auto;
}
body{
    height: 100vh;
}
.one{
    background-color:  #cce5ff;
    width: 40%;
    float: left;
    overflow: auto;
    position: relative;
    height: 100vh;
}
.two{
    background-color: #b3d7ff;
    width: 20%;
    float: left;
    overflow: auto;
    position: relative;
    height: 100vh;
}
.three{
    background-color: #cce5ff;
    width: 40%;
    float: left;
    overflow: auto;
    position: relative;
    height: 100vh;
}
.four{
    background-color:  #e6f2ff;
    overflow: auto;
    width: 90%;
    position: absolute;
    top: 7%;
    padding-top: 10px;
    bottom: 7%;
    left: 5%;
    right: 5%;
}
.five{
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
}
.menu{
    width: 100%;
}
.nav1{
    text-decoration: none;
    color: black;
    margin-left: 700px;
}
.nav{
    text-decoration: none;
    color: black;
    margin-left: 30px;
}
.five,.six{
    width: 45%;
    float: left;
    position: relative;
    height: auto;
}
.bus{
    margin-left: 50px;
}
h1{
    margin-top: 100px;
}
h1,h3{
    font-family: sans-serif;
}
h3{
    font-weight: lighter; 
}
.signup{
    background-color: #e6f1ff;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
.fa-bus{
    font-size: 20px;
    margin: 5px 2px;
}
.icons{
    padding-top: 120px;
}
.fa-facebook, .fa-twitter, .fa-instagram{
    padding: 2px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}  
